<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212487423574-tqoaa7e3ha9r6nknqa91mtmeq735ab4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212487423574-tqoaa7e3ha9r6nknqa91mtmeq735ab4v</string>
	<key>API_KEY</key>
	<string>AIzaSyDCYIDkY9e2ZBY7cSsfWzE-Fgmdp9B93-A</string>
	<key>GCM_SENDER_ID</key>
	<string>212487423574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BridgeLabz.Autolayout.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-36abb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-36abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212487423574:ios:8a90f809c3c25929565df7</string>
</dict>
</plist>